*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", Arial, sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  align-items: end;
  gap: 30px;
  height: 534px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.result__video-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 386px;
}

.result__video {
  display: flex;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: grid;
  grid-template-columns: 225px 212px 194px;
  justify-content: space-between;
  align-items: flex-end;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.search-form__fieldset {
  border: none;
  height: 100%;
}

.search-form__label {
  width: fit-content;
  cursor: pointer;
  height: 22px;
}

.search-form__textfield {
  width: 100%;
  border: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  color: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  font-size: inherit;
  line-height: 22px;
  background-color: transparent;
  cursor: pointer;
  resize: none;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label-text {
  padding-left: 1px;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-style: inherit;
  line-height: 29px;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__label:has(.search-form__textfield:active) {
  outline: 1px solid white;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  outline: 1px white solid;
  background-color: transparent;
  margin-left: 1px;
}

.search-form__checkbox[type="checkbox"]:checked + .search-form__pseudo-checkbox,
.search-form__label:active .search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #1b1919;
  outline: 1px solid white;
  background-color: white;
  outline-offset: 0;
}

.button {
  border: 1px white solid;
  color: inherit;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  line-height: 30px;
  background-color: transparent;
  cursor: pointer;
}

.button:hover,
.content__list-item:hover {
  text-decoration: underline;
}

.button:active,
.content__list-item:active {
  text-decoration: none;
  background-color: #545050;
}

.button:focus {
  outline: none;
}
.button:focus-visible {
  outline: 3px double white;
}

.content__details {
  display: grid;
  flex-direction: column;
  grid-template-rows: auto 298px;
  gap: 20px;
  width: 100%;
}

.title {
  color: #ffffff;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 31px;
  width: 100%;
  overflow: hidden auto;
  scroll-behavior: smooth;
}

.content__card-link {
  display: block;
  margin: 2px;
  text-decoration: none;
}
.content__card-link:focus {
  outline: none;
}
.content__card-link:focus-visible {
  outline: 1px solid white;
}
.content__card-link_current {
  background-color: #545050;
}
.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content__video-card-title {
  color: #ffffff;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 30px;
  line-height: 140%;
  text-decoration-line: none;
  text-transform: uppercase;
}

.content__video-card-description {
  padding-top: 6px;
  color: #ffffff;
  line-height: 16px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  width: 100%;
  margin: 0 1px 1px;
  padding: 0px;
  padding-left: 23px;
}
